<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>BLog List</h1>
                        <hr class="small">
                        <span class="subheading"><a class="btn btn-primary" href="/#/create/blog"><span class="glyphicon glyphicon-plus"></span> Create Blog</a></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               
                  <div class="post-preview" ng-repeat="blog in blogs">
                    <div class="row">
                      <div class="col-md-8">
                        <a ng-href="/#/blog/{{ blog._id }}">
                            <h3 class="post-title">
                               {{ blog.title }}
                            </h3>
                        </a>
                            <h5 class="post-subtitle">
                                {{ blog.content }}
                            </h5>                        
                        <h6 class="post-meta">Tags: <mark>{{ blog.tags }}</mark></h6>
                      </div>
                      <div class="col-md-4">
                        <p>
                          <div class="button-group">
                          <a ng-href="/#/blog/{{ blog._id }}/edit" class="btn btn-default">
                          <span class="glyphicon glyphicon-edit"></span>
                          </a>
                          <a ng-href="/#/blog/{{ blog._id }}/delete" class="btn btn-danger">
                          <span class="glyphicon glyphicon-remove-circle"></span>
                          </a>
                          </div>
                        </p>
                      </div>
                      <hr/>
                    </div>
                  </div>
                
               
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>


