<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Create Blog</h1>
                        
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <br/>
              <div class="post-preview" >
                <form role="form">
                  <div class="form-group">
                    <label for="title" class="control-label">Title</label>
                    <input type="text" ng-model="blog.title" class="form-control" id="title" placeholder="Enter the blog title">
                  </div>
                  <div class="form-group">
                    <label for="content" class="control-label">Content</label>
                    <textarea ng-model="blog.content" class="form-control" id="content"></textarea>
                  </div>
                  <div class="form-group" ng-controller="tagsCtrl">
                    <label for="tags" class="control-label">Tags</label>
                    <tags-input ng-model="tags"></tags-input>
                    <input type="text" ng-model="blog.tags" class="form-control"  id="tags" placeholder="Enter tags for the blog.">
                  </div>
                  <input type="submit" class="btn btn-primary" ng-click="saveBlog()" value="Save">
                </form>
              </div>
              <br/>
            </div>
        </div>
    </div>
    